@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}

.estrutura{
    justify-content: center;
    display: flex;
    gap: 200px;
    margin-top: 100px;
    flex-wrap: wrap;
}


/* parametros dos cards */

.card{
    position: relative;
    width: 320px;
    height: 320px;
    background: #0000;
    /* display: flex; */
    box-shadow: 0 15px 45px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.5s ease-in-out;
    /* padding: 20px; */
    border-radius: 20px;
}



/* .card:hover{
    width: 600px;
} */


.card .imgBx{
    position: relative;
    min-width: 300px;
    height: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.imagem{
    max-width: 200px;
    min-width: 20px;
}

/* ---------------------*/


/* animacao para fazer a img rodar */

.card .imgBx img{
    max-width: 250px;
    transition: 0.5s ease-in-out;
    margin-top: 100px;
}

/* .card:hover .imgBx img{
    transform: rotate(-35deg) translateX(-20px);
} */
/* ------------------------------------ */


.card .details{
    position: absolute;
    left: 0;
    width: 350px;
    height: 340px;
    background: #01c2bf;
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    margin-top: 200px;
}

/* .card:hover .details{
    left: 300px;
} */

.card .details::before{
    content: '';
    position: absolute;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 1;
}

.card .details .principal{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
}

.card .details .principal span{
    font-size: 0.5em;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.card .details .font{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p{
    color: #fff;
    font-size: 0.8em;
    opacity: 0.85;
}

/* tamnho da pizza */
.size{
    display: flex;
    gap: 10px;
}

.size li{
    list-style: none;
    color: #fff;
    font-size: 0.9em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    cursor: pointer;
    font-weight: 500;
    opacity: 0.5;
}

/* .size li:hover{
    background-color: #000000;
} */

/* --------------- */

.card .details h2{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
}

.card .details p{
    text-align: center;
}

.tamanho{
    justify-content: center;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.tamanho p{
    padding-bottom: 10px;
}

.details .buttons{
    background-color: rgb(184, 9, 9);
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-top: 70px;
}

.btn{
    border: 0;
    background: transparent;
    color: white;
}

.mudar-tamanho{
    border: none;
    display: none;
}

.clique-aqui{
    font-size: 20px;
    color: black;
    margin-top: 100px;
    margin-left: 50px;
}

@media screen and (max-width: 600px) {
    .mudar-tamanho {
      display: block;
    }
  }